h3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16;
	font-weight: bold;
	font-style: normal;
	color: 000000;
}

h4 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	font-style: italic;
	color: 114444;
}

body 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: EEF1ED;
}
td 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
}

th 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	color: 555555;

}

em 
{
	font-size: 14;
	color: FF0000;
	font-style: normal;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table
{
	border-style: solid;
	border-color: EEF1ED;
	border-width: 2px;
	border-spacing: 0px;
}

.heading1 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	background-color: 8C958A;
	color: FFFFFF;
	width: "100px";
	text-align: "center";
}

.heading2 
{	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	background-color: 8C958A;
	color: FFFFFF;
	width: "100px";
	text-align: "center";
}

.heading3 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	background-color: 8C958A;
	color: FFFFFF;
	width: "100px";
	text-align: "center";
}

.heading4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	background-color: 8C958A;
	color: FFFFFF;
	width: "100px";
	text-align: "center";
}

.heading5 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	background-color: 8C958A;
	color: FFFFFF;
	width: "100px";
	text-align: "center";
}

.heading6 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	background-color: 8C958A;
	color: FFFFFF;
	width: "100px";
	text-align: "center";
}

.heading7 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	background-color: 8C958A;
	color: FFFFFF;
	width: "100px";
	text-align: "center";
}

.heading8 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	background-color: 8C958A;
	color: FFFFFF;
	width: "100px";
	text-align: "center";
}

.body1 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: FFF2FE;
	width: "100px";
	text-align: "center";
}

.body2 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: FFF2FE;
	width: "100px";
	text-align: "center";
}

.body3 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: FFF2FE;
	width: "100px";
	text-align: "center";
}

.body4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: FFF2FE;
	width: "100px";
	text-align: "center";
}

.body5 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: FFF2FE;
	width: "100px";
	text-align: "center";
}


.body6 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: FFF2FE;
	width: "100px";
	text-align: "center";
}

.body7
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: FFF2FE;
	width: "100px";
	text-align: "center";
}

.body8
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: FFF2FE;
	width: "100px";
	text-align: "center";
}

.choice1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: F3F6F2;
	width: "100px";
	text-align: "center";
	border-style: inset;
	border-width: 2px;
	border-color: CCCCCC;
}

.choice2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: F3F6F2;
	width: "100px";
	text-align: "center";
	border-style: inset;
	border-width: 2px;
	border-color: CCCCCC;
}

.choice3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: F3F6F2;
	width: "100px";
	text-align: "center";
	border-style: inset;
	border-width: 2px;
	border-color: CCCCCC;
}

.choice4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: F3F6F2;
	width: "100px";
	text-align: "center";
	border-style: inset;
	border-width: 2px;
	border-color: CCCCCC;
}

.choice5
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: F3F6F2;
	width: "100px";
	text-align: "center";
	border-style: inset;
	border-width: 2px;
	border-color: CCCCCC;
}

.choice6
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: F3F6F2;
	width: "100px";
	text-align: "center";
	border-style: inset;
	border-width: 2px;
	border-color: CCCCCC;
}

.choice7
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: F3F6F2;
	width: "100px";
	text-align: "center";
	border-style: inset;
	border-width: 2px;
	border-color: CCCCCC;
}

.choice8
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	background-color: F3F6F2;
	width: "100px";
	text-align: "center";
	border-style: inset;
	border-width: 2px;
	border-color: CCCCCC;
}

.headingattribute
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14;
	font-weight: bold;
	background-color: DED7CF;
	color: 000000;
	padding-left: 4px;
	padding-bottom: 2px
	padding-top: 2px
}

.default
{
	font-family: "trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12;
	background-color: EEF1ED;
}






